@import url(https://fonts.googleapis.com/css?family=Nunito+Sans|Roboto);

body {
    margin-top: 24px;
    font-family:'Nunito Sans',sans-serif;
}

.center {
    text-align: center;
    display: block;
    margin: 0 auto;
}

.logo {
    display: block;
    margin: auto;
    width: 80%;
    max-width: 960px;
}

.container {
    width: 85%;
    max-width: 960px;
    margin: auto;
}

img#rating {
    float:right;
    margin-bottom: 20px;
    border: none;
}

h2 {
    color: #42210b;
    font-variant: small-caps;
    font-family: 'Roboto', serif;
}

#play-button {
    background: #8bc34a;
    border: 2px #008868 outset;
    font-size: 18pt;
    padding: 12pt;
    margin-top: 24px;
}

.right {
    float:right;
}

